/.env
/run.bat
/test.db

# =======================
__pycache__/
*.py[cod]
*$py.class

venv/
env/

*.log
*.sqlite3

.idea/

.vscode/

.DS_Store

Thumbs.db
ehthumbs.db

Pipfile.lock

.poetry/

.coverage
htmlcov/